* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

@font-face {
    font-family: "SFPRO";
    src: url(font/SFPRODISPLAYREGULAR.OTF);
}

body {
    background-color: #fffcfc;
    margin: 0%;
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";;
}

header {
    background-color: #000000CC;
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 44px;
    margin: 0%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

}

header img{
    padding-left: 0;
}

header ul {
    display: flex;
    flex-direction: row;

    list-style-type: none;
    padding: 0%;
}

header li {
    padding: 0 8px 0 8px;
    font-size: 12px;
    font-weight: 200;
}

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.container video {
    width: 100vw;
}

.luck {
    position: absolute;
    display: flex;
    padding-top: 2em;
}

/* .luck img {
    width: 44%;
} */

.text-container {
    font-family: "SFPRO";
    text-align: center;
    position: absolute;
    padding-top: 2em;
    z-index: 1;
} 

.text-container a:link {
    text-decoration: none;
}

.text-container a:link {
    color: #06c;
}

.text-container a:visited {
    color: #06c;
}

.text-container a:hover {
    color: #06c;
}

.text-container a:active {
    color: #06c;
}

.text-container h2 {
    font-weight: bolder;
}

.text-container 

.container .macbook {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}

.macbook .text-container {
    position: static;
}

.macbook img {
    width: 90vw;
}

.movie {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    align-items: center; 
}

.luck-movie {
    position: absolute;
    display: flex;
    padding-bottom: 2em;
}

.movie video {
    width: 100vw;
}


@media only screen and (max-width: 395px) {

    header > nav {
        display: none;
      }
  
      .desapear {
          display: none;
      }
  
      header {
          justify-content: center;
      }

    .container {
        width: 100vw;
    }

    .text-container {
        position: static;
    }

    .container video {
        width: 140vw;
    }

    .movie {
        padding-top: 2em;
    }

    .movie video {
        width: 100vw;
    }

    .luck {
        justify-content: center;
    }

    .luck img {
        width: 30%;
    }

    .luck-movie {
        justify-content: center;
    }

    .luck-movie img{
        width: 30%;
    }

}






























/* 
main {
    width: 100%;
}

#hero {
    position: relative;
    width: 100%;
}

#luck {
    position: absolute;
    top: 8em;
    left: 36%;
    
}

.links-conteiner {
    text-align: center;
}

.links-conteiner a:link{
    text-decoration: none;
}

.links-conteiner a {
    color: #06c;
}

.container-ipad img{
    width: 100%;
    position: relative;
}

.container-ipad .text {
    position: absolute;
    top: 60em;
    left: 45%;

    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "SFPRO"
}

.text h2 {
    font-weight:bolder;
}

.text-trevo {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    font-size: 1em;
    line-height: 1.0714285714;
    font-weight: 600;
    letter-spacing: -0.005em;
    font-family: "SFPRO"
}

.iphone13 {
    background-image: url("img/iphone13.jpg");
    background-size: cover;
    height: 692px;
}

h2 {
    padding-top: 25px;
    text-align: center;
    font-weight: 600;
    font-family: "SFPRO";
}

h3 {
    text-align: center;
    font-family: "SFPRO";
}

.macbook-air {
    text-align: center;
    padding-top: 50px;
    font-family: "SFPRO";
}

@media only screen and (max-width: 390px) {
    header > nav {
      display: none;
    }

    .desapear {
        display: none;
    }

    header {
        justify-content: center;
    }

    #luck {
        top: 60px;
        left: 120px;
        width: 40%; 
    }

    .container-ipad {
        margin-top: 100px;
    }

    .container-ipad .text {
        top: 300px;
        left: 80px;
    }

    .iphone13 {
        width: 390px;
        height: 300px;
        background-size: contain;
    }

    .iphone13 {
        padding-top: 5px;
    }

    .macbook-air img{
        width: 385px;
    }

  }
 */
